{
	auto_https off
}
:3000 {
	header_down X-OH-In-Owner "{http.request.header.X-OpenHost-Is-Owner}"
	header_down X-OH-In-XFF "{http.request.header.X-Forwarded-For}"
	@owner header X-OpenHost-Is-Owner true
	handle @owner {
		header_down X-OH-Branch owner
		reverse_proxy 127.0.0.1:4533 {
			header_up Host {header.X-Forwarded-Host}
			header_up -Remote-User
			header_up Remote-User __OWNER_USERNAME__
			header_up X-Forwarded-For 127.0.0.1
		}
	}
	handle {
		header_down X-OH-Branch other
		reverse_proxy 127.0.0.1:4533 {
			header_up Host {header.X-Forwarded-Host}
			header_up -Remote-User
		}
	}
}
